# Python for Beginners: A brief tutorial

## Welcome to Python Programming!

This comprehensive tutorial will teach you Python programming from the ground up. Python is a powerful, versatile programming language that's perfect for beginners and widely used in data science, web development, automation, and machine learning.

### Some of the topics covered in this notebook:
- **Basic Python Syntax**
- **Variables and Data Types**
- **Control Flow (if/else, loops)**
- **Functions**
- **Data Structures (lists, dictionaries)**
- **Working with Files**
- **Introduction to Libraries**
- **Error Handling**
- **Best Practices**

Let's get started!

## 1. Your First Python Code

The traditional first program in any language is "Hello, World!". Let's start there:

In [1]:
# This is a comment - anything after # is ignored by Python
print("Hello, World!")
print("Welcome to Python programming!")

"""
Multi-line comments can be written like this.
You can use triple quotes to create a multi-line comment.
This is useful for documentation or explaining code.
"""

Hello, World!
Welcome to Python programming!

'\nMulti-line comments can be written like this.\nYou can use triple quotes to create a multi-line comment.\nThis is useful for documentation or explaining code.\n'

**Key Points:**
- `print()` displays text on the screen
- Text (strings) must be in quotes
- Comments start with `#` and help explain your code
- Python is case-sensitive

## 2. Variables and Data Types

Variables are containers that store data. Python has several built-in data types:

In [2]:
# Numbers
age = 25                    # Integer (whole number)
height = 5.9               # Float (decimal number)
temperature = -10          # Negative number

# Text
name = "Alice"             # String (text)
city = 'New York'          # Single or double quotes work

# Boolean (True/False)
is_student = True
is_employed = False

# Display the variables
print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Is student:", is_student)

Name: Alice
Age: 25
Height: 5.9
Is student: True

In [3]:
# Check data types
print(type(age))           # <class 'int'>
print(type(height))        # <class 'float'>
print(type(name))          # <class 'str'>
print(type(is_student))    # <class 'bool'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

**Key Points:**
- Variables don't need to be declared with a type
- Variable names should be descriptive
- Use lowercase with underscores for variable names (snake_case)
- Variables can be reassigned to different values

## 3. Basic Operations

Python supports various mathematical and logical operations:

In [4]:
# Mathematical operations
a = 10
b = 3

print("Addition:", a + b)        # 13
print("Subtraction:", a - b)     # 7
print("Multiplication:", a * b)  # 30
print("Division:", a / b)        # 3.333...
print("Integer division:", a // b) # 3
print("Remainder:", a % b)       # 1
print("Power:", a ** b)          # 1000

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Integer division: 3
Remainder: 1
Power: 1000

In [6]:
# String operations
first_name = "John"
last_name = "Doe"

# Concatenation (joining strings)
full_name = first_name + " " + last_name
print("Full name:", full_name)

# String repetition
print("Ho " * 3)  # "Ho Ho Ho "

# String length
print("Length of name:", len(full_name))

Full name: John Doe
Ho Ho Ho
Length of name: 8

## 4. Getting User Input

You can get input from users using the `input()` function:

In [7]:
# Note: input() always returns a string
user_name = input("What's your name? ")
print("Hello,", user_name)

# Converting input to numbers
age_str = input("How old are you? ")
age_num = int(age_str)  # Convert string to integer
print("Next year you'll be", age_num + 1)

What's your name? Özlem
Hello, Özlem
How old are you? 30
Next year you'll be 31

## 5. Conditional Statements (if/else)

Conditional statements let your program make decisions:

In [11]:
# Simple if statement
age = 5

if age >= 18:
    print("You are an adult")
else:
    print("You are a child")

# if-else statement
temperature = 25

if temperature > 30:
    print("It's hot outside!")
else:
    print("It's not too hot")

You are a child
It's not too hot

In [12]:
# Multiple conditions (if-elif-else)
score = 85

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print(f"Your grade is: {grade}")

Your grade is: B

In [13]:
# Comparison operators
x = 10
y = 20

print(x == y)    # Equal to: False
print(x != y)    # Not equal to: True
print(x < y)     # Less than: True
print(x <= y)    # Less than or equal: True
print(x > y)     # Greater than: False
print(x >= y)    # Greater than or equal: False

False
True
True
True
False
False

In [14]:
# Logical operators
age = 25
has_license = True

# and: both conditions must be True
if age >= 18 and has_license:
    print("You can drive!")

# or: at least one condition must be True
is_weekend = True
is_holiday = False

if is_weekend or is_holiday:
    print("No work today!")

# not: reverses the boolean value
is_raining = False
if not is_raining:
    print("Good weather for a walk!")

You can drive!
No work today!
Good weather for a walk!

**Key Points:**
- Python uses indentation (spaces/tabs) to group code blocks
- Use 4 spaces for indentation (standard)
- Colons `:` are required after if, elif, else statements

## 6. Loops

Loops let you repeat code multiple times:

In [15]:
# for loop - repeat a specific number of times
print("Counting from 1 to 5:")
for i in range(1, 6):  # range(start, stop) - stop is not included
    print(i)

print("\nCounting by 2s:")
for i in range(0, 11, 2):  # range(start, stop, step)
    print(i)

Counting from 1 to 5:
1
2
3
4
5

Counting by 2s:
0
2
4
6
8
10

In [16]:
# while loop - repeat while a condition is true
count = 1
print("Countdown:")

while count <= 5:
    print(count)
    count = count + 1  # Same as: count += 1

print("Done!")

Countdown:
1
2
3
4
5
Done!

In [18]:
# Loop control: break and continue
print("Finding first number divisible by 7:")
for num in range(1, 20):
    if num % 7 == 0:
        print(f"Found it: {num}")
        break  # Exit the loop

print("\nSkipping even numbers:")
for num in range(1, 10):
    if num % 2 == 0:
        continue  # Skip to next iteration
    print(num)

Finding first number divisible by 7:
Found it: 7

Skipping even numbers:
1
3
5
7
9

## 7. Lists

Lists are ordered collections that can store multiple items:

In [19]:
# Creating lists
fruits = ["apple", "banana", "orange", "grape"]
numbers = [1, 2, 3, 4, 5]
mixed = ["hello", 42, True, 3.14]

print("Fruits:", fruits)
print("Numbers:", numbers)
print("Mixed:", mixed)

Fruits: ['apple', 'banana', 'orange', 'grape']
Numbers: [1, 2, 3, 4, 5]
Mixed: ['hello', 42, True, 3.14]

In [20]:
# Accessing list elements (indexing starts at 0)
print("First fruit:", fruits[0])    # apple
print("Second fruit:", fruits[1])   # banana
print("Last fruit:", fruits[-1])    # grape (negative indexing)

# List length
print("Number of fruits:", len(fruits))

First fruit: apple
Second fruit: banana
Last fruit: grape
Number of fruits: 4

In [21]:
# Modifying lists
shopping_list = ["milk", "bread", "eggs"]
print("Original list:", shopping_list)

# Add items
shopping_list.append("cheese")        # Add to end
shopping_list.insert(1, "butter")     # Insert at position 1
print("After adding:", shopping_list)

# Remove items
shopping_list.remove("bread")         # Remove specific item
last_item = shopping_list.pop()       # Remove and return last item
print("After removing:", shopping_list)
print("Removed item:", last_item)

Original list: ['milk', 'bread', 'eggs']
After adding: ['milk', 'butter', 'bread', 'eggs', 'cheese']
After removing: ['milk', 'butter', 'eggs']
Removed item: cheese

In [22]:
# Looping through lists
colors = ["red", "green", "blue", "yellow"]

print("Method 1 - Direct iteration:")
for color in colors:
    print(f"I like {color}")

print("\nMethod 2 - With index:")
for i in range(len(colors)):
    print(f"{i}: {colors[i]}")

print("\nMethod 3 - With enumerate:")
for index, color in enumerate(colors):
    print(f"{index}: {color}")

Method 1 - Direct iteration:
I like red
I like green
I like blue
I like yellow

Method 2 - With index:
0: red
1: green
2: blue
3: yellow

Method 3 - With enumerate:
0: red
1: green
2: blue
3: yellow

In [23]:
# List slicing
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print("Full list:", numbers)
print("First 3:", numbers[:3])        # [0, 1, 2]
print("Last 3:", numbers[-3:])        # [7, 8, 9]
print("Middle:", numbers[2:7])        # [2, 3, 4, 5, 6]
print("Every 2nd:", numbers[::2])     # [0, 2, 4, 6, 8]
print("Reversed:", numbers[::-1])     # [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Full list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
First 3: [0, 1, 2]
Last 3: [7, 8, 9]
Middle: [2, 3, 4, 5, 6]
Every 2nd: [0, 2, 4, 6, 8]
Reversed: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## 8. Dictionaries

Dictionaries store data as key-value pairs:

In [24]:
# Creating dictionaries
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York",
    "is_student": False
}

print("Person:", person)
print("Name:", person["name"])
print("Age:", person["age"])

Person: {'name': 'Alice', 'age': 30, 'city': 'New York', 'is_student': False}
Name: Alice
Age: 30

In [25]:
# Modifying dictionaries
person["age"] = 31                    # Update existing key
person["job"] = "Engineer"            # Add new key
print("Updated person:", person)

# Safe access with get()
print("Phone:", person.get("phone", "Not provided"))  # Default value if key doesn't exist

# Remove items
del person["is_student"]              # Remove key-value pair
print("After deletion:", person)

Updated person: {'name': 'Alice', 'age': 31, 'city': 'New York', 'is_student': False, 'job': 'Engineer'}
Phone: Not provided
After deletion: {'name': 'Alice', 'age': 31, 'city': 'New York', 'job': 'Engineer'}

In [26]:
# Looping through dictionaries
grades = {"math": 85, "science": 92, "english": 78, "history": 88}

print("All keys:")
for subject in grades.keys():
    print(subject)

print("\nAll values:")
for grade in grades.values():
    print(grade)

print("\nKey-value pairs:")
for subject, grade in grades.items():
    print(f"{subject}: {grade}")

All keys:
math
science
english
history

All values:
85
92
78
88

Key-value pairs:
math: 85
science: 92
english: 78
history: 88

## 9. Functions

Functions are reusable blocks of code that perform specific tasks:

In [27]:
# Simple function
def greet():
    print("Hello, World!")

# Call the function
greet()

Hello, World!

In [28]:
# Function with parameters
def greet_person(name):
    print(f"Hello, {name}!")

def greet_with_time(name, time_of_day):
    print(f"Good {time_of_day}, {name}!")

# Call functions with arguments
greet_person("Alice")
greet_with_time("Bob", "morning")

Hello, Alice!
Good morning, Bob!

In [29]:
# Functions that return values
def add_numbers(a, b):
    result = a + b
    return result

def calculate_area(length, width):
    return length * width

# Use returned values
sum_result = add_numbers(5, 3)
print("Sum:", sum_result)

area = calculate_area(10, 5)
print("Area:", area)

Sum: 8
Area: 50

In [30]:
# Functions with default parameters
def introduce(name, age=25, city="Unknown"):
    print(f"Hi, I'm {name}. I'm {age} years old from {city}.")

# Different ways to call the function
introduce("Alice")
introduce("Bob", 30)
introduce("Charlie", 28, "London")
introduce("Diana", city="Paris")  # Using keyword arguments

Hi, I'm Alice. I'm 25 years old from Unknown.
Hi, I'm Bob. I'm 30 years old from Unknown.
Hi, I'm Charlie. I'm 28 years old from London.
Hi, I'm Diana. I'm 25 years old from Paris.

In [31]:
# Practical example: Temperature converter
def celsius_to_fahrenheit(celsius):
    """Convert Celsius to Fahrenheit"""
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

def fahrenheit_to_celsius(fahrenheit):
    """Convert Fahrenheit to Celsius"""
    celsius = (fahrenheit - 32) * 5/9
    return celsius

# Test the functions
temp_c = 25
temp_f = celsius_to_fahrenheit(temp_c)
print(f"{temp_c}°C is {temp_f}°F")

temp_f = 77
temp_c = fahrenheit_to_celsius(temp_f)
print(f"{temp_f}°F is {temp_c:.1f}°C")

25°C is 77.0°F
77°F is 25.0°C

## 10. Working with Files

Python can read from and write to files:

In [32]:
# Writing to a file
def write_shopping_list():
    items = ["milk", "bread", "eggs", "cheese", "apples"]

    with open("shopping_list.txt", "w") as file:
        file.write("Shopping List\n")
        file.write("=============\n")
        for item in items:
            file.write(f"- {item}\n")

    print("Shopping list saved to file!")

write_shopping_list()

Shopping list saved to file!

In [33]:
# Reading from a file
def read_shopping_list():
    try:
        with open("shopping_list.txt", "r") as file:
            content = file.read()
            print("File contents:")
            print(content)
    except FileNotFoundError:
        print("File not found!")

read_shopping_list()

File contents:
Shopping List
=============
- milk
- bread
- eggs
- cheese
- apples

In [34]:
# Reading line by line
def read_lines():
    try:
        with open("shopping_list.txt", "r") as file:
            lines = file.readlines()
            print("Line by line:")
            for i, line in enumerate(lines, 1):
                print(f"Line {i}: {line.strip()}")
    except FileNotFoundError:
        print("File not found!")

read_lines()

Line by line:
Line 1: Shopping List
Line 2: =============
Line 3: - milk
Line 4: - bread
Line 5: - eggs
Line 6: - cheese
Line 7: - apples

## 11. Error Handling

Handle errors gracefully with try-except blocks:

In [35]:
# Basic error handling
def safe_divide(a, b):
    try:
        result = a / b
        return result
    except ZeroDivisionError:
        print("Error: Cannot divide by zero!")
        return None
    except TypeError:
        print("Error: Please provide numbers only!")
        return None

# Test the function
print(safe_divide(10, 2))    # Works fine
print(safe_divide(10, 0))    # Division by zero
print(safe_divide(10, "a"))  # Type error

5.0
Error: Cannot divide by zero!
None
Error: Please provide numbers only!
None

In [36]:
# Input validation
def get_number_input(prompt):
    while True:
        try:
            value = float(input(prompt))
            return value
        except ValueError:
            print("Please enter a valid number!")

# Example usage (uncomment to test interactively)
# num = get_number_input("Enter a number: ")
# print(f"You entered: {num}")

## 12. Introduction to Libraries

Python has many built-in libraries and external packages:

In [37]:
# Math library
import math

print("Pi:", math.pi)
print("Square root of 16:", math.sqrt(16))
print("2 to the power of 3:", math.pow(2, 3))
print("Ceiling of 4.3:", math.ceil(4.3))
print("Floor of 4.7:", math.floor(4.7))

Pi: 3.141592653589793
Square root of 16: 4.0
2 to the power of 3: 8.0
Ceiling of 4.3: 5
Floor of 4.7: 4

In [38]:
# Random library
import random

print("Random number (0-1):", random.random())
print("Random integer (1-10):", random.randint(1, 10))

colors = ["red", "green", "blue", "yellow"]
print("Random color:", random.choice(colors))

numbers = [1, 2, 3, 4, 5]
random.shuffle(numbers)
print("Shuffled numbers:", numbers)

Random number (0-1): 0.9175956100954896
Random integer (1-10): 4
Random color: yellow
Shuffled numbers: [2, 5, 4, 3, 1]

In [39]:
# Datetime library
from datetime import datetime, date

now = datetime.now()
today = date.today()

print("Current date and time:", now)
print("Today's date:", today)
print("Formatted date:", now.strftime("%B %d, %Y"))
print("Formatted time:", now.strftime("%H:%M:%S"))

Current date and time: 2025-06-02 13:11:16.982900
Today's date: 2025-06-02
Formatted date: June 02, 2025
Formatted time: 13:11:16

## 13. Practical Examples

Let's put it all together with some practical examples:

In [58]:
# Example 1: Simple calculator

def calculator():
    print("Simple Calculator")
    print("Available operations: +, -, *, /")

    while True:
        try:
            num1 = float(input("Enter first number (or 'quit' to exit): "))
            if str(num1).lower() == 'quit':
                break

            operation = input("Enter operation (+, -, *, /): ")
            num2 = float(input("Enter second number: "))

            if operation == "+":
                result = num1 + num2
            elif operation == "-":
                result = num1 - num2
            elif operation == "*":
                result = num1 * num2
            elif operation == "/":
                if num2 != 0:
                    result = num1 / num2
                else:
                    print("Error: Division by zero!")
                    continue
            else:
                print("Invalid operation!")
                continue

            print(f"Result: {num1} {operation} {num2} = {result}")
            print()

        except ValueError:
            print("Please enter valid numbers!")
        except KeyboardInterrupt:
            print("\nGoodbye!")
            break

TypeError: calculator() got an unexpected keyword argument 'num1'

In [53]:
# Example 2: Contact book
class ContactBook:
    def __init__(self):
        self.contacts = {}

    def add_contact(self, name, phone, email=""):
        self.contacts[name] = {
            "phone": phone,
            "email": email
        }
        print(f"Contact {name} added successfully!")

    def get_contact(self, name):
        if name in self.contacts:
            contact = self.contacts[name]
            print(f"Name: {name}")
            print(f"Phone: {contact['phone']}")
            print(f"Email: {contact['email']}")
        else:
            print(f"Contact {name} not found!")

    def list_contacts(self):
        if self.contacts:
            print("All Contacts:")
            for name, info in self.contacts.items():
                print(f"- {name}: {info['phone']}")
        else:
            print("No contacts found!")

# Example usage
book = ContactBook()
book.add_contact("Alice", "555-1234", "alice@email.com")
book.add_contact("Bob", "555-5678")
book.list_contacts()
print()
book.get_contact("Alice")

Contact Alice added successfully!
Contact Bob added successfully!
All Contacts:
- Alice: 555-1234
- Bob: 555-5678

Name: Alice
Phone: 555-1234
Email: alice@email.com

In [54]:
# Example 3: Word frequency counter
def count_words(text):
    # Convert to lowercase and split into words
    words = text.lower().split()

    # Remove punctuation and count words
    word_count = {}
    for word in words:
        # Remove common punctuation
        clean_word = word.strip(".,!?;:")
        if clean_word:
            word_count[clean_word] = word_count.get(clean_word, 0) + 1

    return word_count

def display_word_counts(word_count, top_n=5):
    # Sort by frequency (descending)
    sorted_words = sorted(word_count.items(), key=lambda x: x[1], reverse=True)

    print(f"Top {top_n} most frequent words:")
    for word, count in sorted_words[:top_n]:
        print(f"{word}: {count}")

# Example usage
sample_text = """
Python is a great programming language. Python is easy to learn.
Many people love Python because Python is versatile and powerful.
Python can be used for web development, data science, and automation.
"""

word_counts = count_words(sample_text)
display_word_counts(word_counts)

Top 5 most frequent words:
python: 5
is: 3
and: 2
a: 1
great: 1